<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
            <div class="card-header">
				<h3>איפוס סיסמה</h3>
			</div>
			<div class="card-body">
                <div class="subtitle">
                    <p class="text-center">אנא הכנס את כתובת הדוא"ל שלך כדי לבקש איפוס סיסמה.</p>
                  </div>

					<div class="input-group form-group">
						<input type="email" class="form-control" placeholder="כתובת דואל" #passwordResetEmail required>
					</div>
					<div class="form-group">
						<input type="submit" value="לאפס את הסיסמה" class="btn btn-block login_btn" (click)="authService.forgotPassword(passwordResetEmail.value)">
					</div>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<span><a routerLink="/login">תתחבר עכשיו</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
