$fa-font-path: "./assets/styles/webfonts" !default;

:root 
{
    --primaria:      #009EE2;
    --secundaria:    #106990;
    --tertiary:     #8D309B;
    --danger:       #B00020;
    --gray-light:   #ECEFF1;
    --gray-medium:  #394b53;
    --gray-shadow:  #263238;
    --custom:       #2E5376; 

}